<html>
  <head>
    <meta charset="utf-8" />
    <title>Login Lavanderia</title>

    
    
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="#">LOL-Lavanderia</a>
          <button class="navbar-toggler" type="button">
          </button>
      </div>
    </nav>

    <div class="container">    
      <div class="row">

        <div class="card-login">
          <div class="card">
            <div class="card-header">
              Login
            </div>

            <div class="card-body">
              <form action="inicial.html" method="post">
                <div class="form-group">
                  <input name="email" type="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-group">
                  <input name="senha" type="password" class="form-control" placeholder="Senha">
                </div>

                <button class="btn btn-lg btn-info btn-block" type="submit">Entrar</button>
              </form>

              <a class="btn btn-lg btn-success btn-block" [routerLink]="['/cadastro']" >Cadastre-se</a>
            </div>
          </div>
        </div>
      </div>
    </div>

      <footer class="footer fixed-bottom mt-auto py-3 bg-light">
        <div class="container text-center">
            Copyright © 2023 | Matheus, Lucas e Murilo | Web2
        </div>
      </footer>

  </body>
</html>