    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">LOL-Lavanderia</a>
            <button class="navbar-toggler" type="button">
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Consultar Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Listar Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Novo Pedido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Editar Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">

            <div class="col-md-4">
                <button class="btn btn-primary mr-2" (click)="adicionarNovaLinha()">Inserir</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Login/E-mail</th>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th>Senha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Funcionario of funcionarios; let i = index">
                          <td>
                            <input [(ngModel)]="Funcionario.email" [disabled]="!Funcionario.habilitada" />
                          </td>
                          <td>
                            <input [(ngModel)]="Funcionario.nomeFuncionario" [disabled]="!Funcionario.habilitada" />
                          </td>
                          <td>
                            <input [(ngModel)]="Funcionario.dataNascimento" [disabled]="!Funcionario.habilitada" />
                          </td>
                          <td>
                            <input [(ngModel)]="Funcionario.senha" [disabled]="!Funcionario.habilitada" />
                          </td>
                          <td>
                            <button class="btn btn-warning mr-2" (click)="selecionarLinha(Funcionario)">Editar</button>
                            <button class="btn btn-danger mr-2" (click)="excluirLinha(Funcionario, i)">Excluir</button>
                            <button class="btn btn-success" (click)="salvarEdicao(Funcionario)">Salvar</button>
                          </td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="footer fixed-bottom mt-auto py-3 bg-light">
        <div class="container text-center">
            Copyright © 2023 | Lucas, Matheus e Murilo | Web2
        </div>
    </footer>