<div class="container">
  <div class="row">
    <div class="container mt-5">

      <h2>Visualização de Pedidos</h2>

      <div class="form-group">
        <label for="statusFilter">Filtrar Pedidos:</label>
        <select class="form-control" id="statusFilter">
          <option value="">Todos</option>
          <option value="Em Processo">Pedidos de Hoje</option>
          <option value="Aguardando Pagamento">Pedidos por período de datas</option>
        </select>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="fundo-css">Número do Pedido</th>
            <th>Status do Pedido</th>
            <th>Data do Pedido</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let pedido of ordenarPedidos()">
            <td> 00{{pedido.idPedido}} </td>
            <td [ngClass]="getStatusClass(pedido.statusPedido)"> {{pedido.statusPedido}} </td>
            <td *ngIf="pedido.dataPedido !== undefined"> {{ formatarData(pedido.dataPedido) }}</td>
            <td>  
              <button *ngIf="mostrarBotao(pedido.statusPedido)"
              class="btn btn-primary"
              (click)="efetuarAcao(getBotaoTexto(pedido.statusPedido), pedido)">
              {{getBotaoTexto(pedido.statusPedido)}}
          </button>
        </td>
        </tbody>
      </table>
    </div>
  </div>
</div>