<h1>Novo Pedido</h1>

<div class="well">
  <form #formPedido="ngForm">

    <div class="form-group">
      <label for="roupa"> Selecione uma roupa:</label>
    
      <div *ngFor="let roupa of roupas; let i = index" class="margem-esquerda">
        <input type="radio" class="form-check-input m" name="roupa" [id]="'roupa' + i"
               [(ngModel)]="pedido.roupas" [value]="roupa.nomPecaRoupa">
        <label [for]="'roupa' + i">{{ roupa.nomPecaRoupa }} - {{ roupa.precoRoupa | currency:'BRL':'symbol':'1.2-2'}} </label><br/>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> Adicionar
      </button>
      <a class="btn btn-secondary" [routerLink]="['/cidades']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
      </a>
    </div>

  </form>
</div>
