<div class="container">
    <div class="row">
        <div class="container mt-5">
            <h2>Tabela de Pedidos</h2>
            <div class="form-group">
                <label for="statusFilter">Filtrar por Status:</label>
                <select class="form-control" id="statusFilter" [(ngModel)]="statusSelecionado">
                    <option value="">Todos</option>
                    <option value="Em Processo">Em Processo</option>
                    <option value="Aguardando Pagamento">Aguardando Pagamento</option>
                    <option value="Concluído">Concluído</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Número do Pedido</th>
                        <th>Status do Pedido</th>
                        <th>Valor do Pedido</th>
                        <th>Data do Pedido</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let pedido of listarPedidos() | statusFilter: statusSelecionado">
                        <td> {{pedido.idPedido}} </td>
                        <td> {{pedido.statusPedido}} </td>
                        <td> R${{pedido.valor}} </td>
                        <td> {{pedido.dataPedido}}</td>
                        <td>

                            <button type="button" class="btn btn-xs btn-primary"
                                *ngIf="pedido.statusPedido !== 'Cancelado' && pedido.statusPedido !== 'Concluído'"
                                (click)="abrirModalPedido(pedido)">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Pagar
                            </button>

                            <button type="button" class="btn btn-xs btn-danger botao-cancelar"
                                *ngIf="pedido.statusPedido !== 'Cancelado' && pedido.statusPedido !== 'Concluído'"
                                (click)="abrirModalCancelar(pedido)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancelar
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>