<div class="modal-header d-flex justify-content-center">
  <h4 class="modal-title" id="modalLabel"> Detalhes do Pedido: </h4>
</div>

<div class="modal-body text-center">
  <div>
      <p *ngFor="let roupa of pedido.roupas">
        <strong>Peça:</strong> {{ roupa.nomeRoupa }} |
        <strong>Valor da Lavagem:</strong> {{ roupa.valorLavagemPeca | currency:'BRL':'symbol':'1.2-2' }}
      </p>
        <p><strong>Valor Total:</strong> {{ pedido.valor | currency:'BRL':'symbol':'1.2-2' }}</p>
        <p><strong>Confirma o pedido ?</strong></p>
        
        <button type="button" class="btn btn-xs btn-primary botao-confirmar" (click)="realizarPedido(pedido)">
          <i class="fa fa-check" aria-hidden="true"></i>
          Sim
        </button>

        <button type="button" class="btn btn-xs btn-danger botao-confirmar" (click)="this.activeModal.close()">
          <i class="fa fa-times" aria-hidden="true"></i>
          Não
        </button>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()"> Fechar </button>
</div>